/* Statuts initial */

body {
    margin : 0 ;
    padding : 0 ;
}

#carre {
    position : absolute ;
    animation : carreInstable 10s infinite ;
}


#rarity {
    background : url("rarity__sprite_by_perfectsyntax-daqf09f.png") no-repeat left top ;
    animation : rarity-droite 1s steps(1) infinite, rarity-avance 4s infinite linear ;
    background-size : 288px 512px ;
    width : 96px ;
    height : 128px ;
    position : absolute ;
}

/* Animation Rarity */
@keyframes rarity-droite {
    0% {
        background-position : -96px -256px ;
    } 25% {
        background-position : 0 -256px ;
    } 50% {
        background-position : -96px -256px ;
    } 75% {
        background-position : -192px -256px ;
    } 100% {
        background-position : -96px -256px ;
    }
}

@keyframes rarity-avance {
    from {
        left : 0 ;
    }
    to {
        left : calc(100% - 96px) ;
    }
}



/* Animation carre */
@keyframes carreInstable {
    0% {
		left : 0 ;
		border-radius : 0 ;
        top : 128px ;
        background : red ;
        width : 4em ;
        height : 4em ; 
    } 25% {
        border-radius : 50% ;
        left : calc(100% - 4em) ;
        top : 128px ;
        background : red ;
        width : 4em ;
        height : 4em ; 
    } 50% {
        border-radius : 0 ;
        left : calc(100% - 4em) ;
        top : calc(100% - 4em) ;
        background : red ;
        width : 4em ;
        height : 4em ; 
    } 75% {
        border-radius : 0 ;
        left : 0 ;
        top : calc(100% - 6em) ;
        background : green ;
        width : 2em ;
        height : 6em ;      
    } 100% {
        border-radius : 0 ;
        left : 0 ;
        top : 128px ;
        background : red ;
        width : 4em ;
        height : 4em ; 
    }

}
