/* Statuts initial */

body {
    margin : 0 ;
    padding : 0 ;
}

#carre {
    position : absolute ;
    animation : carreInstable 10s infinite ;
}


#rarity {
    background : url("rarity__sprite_by_perfectsyntax-daqf09f.png") no-repeat left top ;
    animation : rarity 4s steps(1) infinite;
    animation-delay : 2s ;
    background-size : 288px 512px ;
    width : 96px ;
    height : 128px ;
}

/* Animation Rarity */
@keyframes rarity {
    0% {
        background-position : -96px -256px ;
    } 20% {
        background-position : 0 -256px ;
    } 40% {
        background-position : -96px -256px ;
    } 60% {
        background-position : -192px -256px ;
    } 80% {
        background-position : -96px -256px ;
    } 100% {
        background-position : -256px -256px ;
    }
}


/* Animation carre */
@keyframes carreInstabl {
    0% {
        border-radius : 0 ;
        left : 0 ;
        top : 0 ;
        background : red ;
        width : 4em ;
        height : 4em ; 
    } 25% {
        border-radius : 50% ;
        left : calc(100% - 4em) ;
        top : 0 ;
        background : red ;
        width : 4em ;
        height : 4em ; 
    } 50% {
        border-radius : 0 ;
        left : calc(100% - 4em) ;
        top : calc(100% - 4em) ;
        background : red ;
        width : 4em ;
        height : 4em ; 
    } 75% {
        border-radius : 0 ;
        left : 0 ;
        top : calc(100% - 4em) ;
        background : green ;
        width : 2em ;
        height : 6em ;      
    } 100% {
        border-radius : 0 ;
        left : 0 ;
        top : 0 ;
        background : red ;
        width : 4em ;
        height : 4em ; 
    }

}