body, h1, h2 {
    margin : 0 ;
    padding : 0 ;
    font-family : sans-serif ;
}

a {text-decoration : none ;}

#banniere {
    position : fixed ;
    width : 100% ;
    background : hsl(120, 100%, 33%) ;
    line-height : 5em ;
    display : flex ;
    align-items : center ;
}

h1 {
    margin-left : 0.5em ;
    margin-right : 2em ;
    display : table-cell ;
    vertical-align : middle ;
}

h1 > a {
    display : block ;
    line-height : 0 ;
}
/* MENU DE NAVIGATION */

    nav {flex-grow : 1 ;}

    #menu-nav {
		display : flex ;
        margin : 0 ;
        padding : 0 ;
        justify-content : space-around ;
        height : 100% ;
        align-items : center ;
    }
    #menu-nav > li {
        list-style-type : none ;
        color : white ;
        text-transform : uppercase ;
        font-weight : bold ;
        font-size : 0.9em ;
    }
    #menu-nav > .ss-menu-titre::after {
        content : " ▼" ;
    }

    /* SOUS MENUS */

        #menu-nav, .ss-menu-titre > ul {
			padding : 0 ;
			margin : 0 ;
            list-style : none ;
		}

       .ss-menu-titre > ul {
			line-height : 2em ;
        }

		#menu-nav a {color:white;}
        #menu-nav > li:hover {color : black ;}

		#menu-nav ul {	
		 /*on cache les sous menus complètement sur la gauche*/
            position : absolute ;
            display : none ;
            background : hsl(207, 8%, 21%) ; 
            padding-right : 2em ;
			z-index : 5 ;
            padding : 1em ;
            font-weight : normal ;
            text-transform : none ;
		}

		#menu-nav > .ss-menu-titre:hover > .ss-menu-nav  {
		/* Au survol des li du menu on replace les sous menus */
			display : inherit ;
		}


/* DIAPORAMA */
    #sliders {
        background : url("header1.jpg") center center no-repeat ;
        backgrouns-size : cover ;
        height : 90vh ;
        display : flex ;
        align-items : center ;
        padding-top : 5em ;
    }

    #sliders > p {
        background : hsl(120, 100%, 33%) ;
        margin : 0 ;
        color : white ;
        font-size : 2em ;
        font-weight : bold ;
        padding : 0.5em ;
    }
    #sliders > p:hover {opacity : 0.5 ;}

#sliders > p:first-child {margin-right : 1em ;}

    #sliders > div {
        flex-grow : 1 ;
        margin-top : 8em ;
    }

    #sliders > div > p, #sliders > div > h2 {
        flex-grow : 1 ;
        color : white ;
        text-transform : uppercase ;
        text-shadow : 1px 1px 1px grey ;
    }
    
    h2 {font-size : 3.75em ;}

    #sliders p {
        font-size : 1.2em ;
        font-style : italic ;
    }
    
    /*#sliders > div >*/ button {
        color : white ;
        text-transform : uppercase ;
        background : hsl(120, 100%, 33%) ;
        font-size : 1.5em ;
        padding : 1em ;
        border : none ;
        font-weight : bold ;
    }

#accroche {
    text-align : center ;
    color : #626c72 ;
}

#accroche > h3 {
    font-size : 2em ;
    margin-bottom : 0.4em ;
}

#accroche > p {font-size : 0.8em ;}

/**/

#avantages {

}

.flexalignreg {
    display : flex ;
    justify-content : space-around ;
    color : #626c72 ;
    margin-top : 3em ;
}

.flexalignreg > div > h3 {font-size : 1.5em ;}

.flexalignreg > div {
    width : 27% ;
    text-align : center ;
}

.flexalignreg p {
    font-size : 0.9em ;
}

.flexalignreg a {
    color : hsl(120, 100%, 33%) ;
    font-size : 1.1em ;
}

.flexalignreg a:hover {
    color : #626c72 ;
}

/* Section PARTICIPEZ */

#participez {
    background : url("quote-bg.jpg") no-repeat left center ;
    background-size : cover ;
    display : flex ;
    margin-bottom : 50px ;
}

#participez {
    color : white ;
}
#participez > div > h3 {
    font-size : 2em ;
    margin-bottom : 0 ;
}
#participez > div > p {
    margin-top : 0 ;
    margin-right : 5em ;
    font-size : 2em ;
    margin-bottom : 0.5em ;
}

#participez > div > p:nth-of-type(2) {text-align : right ;}

#participez button {
    font-size : 0.5em ;
    border-radius : 5px ;
}

#participez > p > img {margin : 2em 5em 0 5em ;}

#extraits {
    display : flex ;
    text-align : center ;
    justify-content : space-between ;
    padding : 0 2em 0 2em ;
}
#extraits > div {
    display : flex ;
    flex-wrap : wrap ;
    justify-content : space-around ;
    align-content : flex-start ;
}

#extraits header {
    width : 100% ;
    height : 5em ;
}
#extraits article {
    background : hsl(200, 16%, 89%) ;
    border-radius : 3px ;
    width : 45% ;
    height : auto ;
}

#extraits {
    color : #626c72 ;
    word-wrap: break-word ;

}
#extraits p {font-size : 0.9em ;}

#extraits a {
    color : hsl(120, 100%, 33%) ;
}

/* Suivez-nous */

#reseaux_sociaux {
    text-align : center ;
    color : #626c72 ;
    padding-bottom : 1em ;
}

#reseaux_sociaux button {
    font-size : 1em ;
    border-radius : 5px ;
    text-transform : none ;
    padding : 0 1em 0 1em ;
    line-height : 3em ;
}

#reseaux_sociaux button > img {
    width : 1.5em ;
    position : relative ;
    top : 0.3em ;
}

#actu_tweet h3, #reseaux_sociaux h3 {font-size : 2em ;}

/*Derniers tweets*/
#actu_tweet {
    background : hsl(207, 8%, 21%) ;
    text-align : center ;
    color : #626c72 ;
    padding-top : 1em ;

    display : flex ;
    flex-wrap : wrap ;
    justify-content : space-around ;
}
#actu_tweet h3 {
    margin : 0 ;
    width : 100% ;
}
#actu_tweet div {
    width : 40% ;
}

#actu_tweet p:nth-child(2) {
    background : hsl(212, 8%, 35%) ;
    border-radius : 3px ;
    line-height : 3em ;
}

#actu_tweet a {
    color : hsl(120, 100%, 33%) ;
}

/* FOOTER */
footer {
    background : hsl(204, 6%, 16%) ;
    color : #626C72 ;
    text-align : center ;
    padding : 1em 3em 1em 3em ;
    font-size : 0.7em ;
}

footer a {color : hsl(120, 100%, 33%) ;}