body, h1, h2 {
    margin : 0 ;
    padding : 0 ;
    font-family : sans-serif ;
}

header {
    position : fixed ;
    width : 100% ;
    background : hsl(120, 100%, 33%) ;
    line-height : 5em ;
    display : flex ;
    align-items : center ;
}

h1 {
    margin-left : 0.5em ;
    margin-right : 2em ;
    display : table-cell ;
    vertical-align : middle ;
}

h1 > a {
    display : block ;
    line-height : 0 ;
}
/* MENU DE NAVIGATION */

    nav {flex-grow : 1 ;}

    #menu-nav {
		display : flex ;
        margin : 0 ;
        padding : 0 ;
        justify-content : space-around ;
        height : 100% ;
        align-items : center ;
    }
    #menu-nav > li {
        list-style-type : none ;
        color : white ;
        text-transform : uppercase ;
        font-weight : bold ;
        font-size : 0.9em ;
    }
    #menu-nav > .ss-menu-titre::after {
        content : " ▼" ;
    }

    /* SOUS MENUS */

        #menu-nav, .ss-menu-titre > ul {
			padding : 0 ;
			margin : 0 ;
            list-style : none ;
		}

       .ss-menu-titre > ul {
			line-height : 2em ;
        }

		#menu-nav a {
			text-decoration : none ;
			color:white;
		}
        #menu-nav > li:hover {color : black ;}

		#menu-nav ul {	
		 /*on cache les sous menus complètement sur la gauche*/
            position : absolute ;
            display : none ;
            background : hsl(207, 8%, 21%) ; 
            padding-right : 2em ;
			z-index : 5 ;
            padding : 1em ;
            font-weight : normal ;
            text-transform : none ;
		}

		#menu-nav > .ss-menu-titre:hover > .ss-menu-nav  {
		/* Au survol des li du menu on replace les sous menus */
			display : inherit ;
		}


/* DIAPORAMA */
    #sliders {
        background : url("header1.jpg") center center no-repeat ;
        backgrouns-size : cover ;
        height : 90vh ;
        display : flex ;
        align-items : center ;
        padding-top : 5em ;
    }

    #sliders > p {
        background : hsl(120, 100%, 33%) ;
        margin : 0 ;
        color : white ;
        font-size : 2em ;
        font-weight : bold ;
        padding : 0.5em ;
    }
    #sliders > p:hover {opacity : 0.5 ;}

#sliders > p:first-child {margin-right : 1em ;}

    #sliders > div {
        flex-grow : 1 ;
        margin-top : 8em ;
    }

    #sliders > div > p, #sliders > div > h2 {
        flex-grow : 1 ;
        color : white ;
        text-transform : uppercase ;
        text-shadow : 1px 1px 1px grey ;
    }
    
    h2 {font-size : 3.75em ;}

    div > p {
        font-size : 1.2em ;
        font-style : italic ;
    }
    
    #sliders > div > button {
        color : white ;
        text-transform : uppercase ;
        background : hsl(120, 100%, 33%) ;
        font-size : 1.5em ;
        padding : 1em ;
        border : none ;
        font-weight : bold ;
    }

#accroche {
    text-align : center ;
    color : #626c72 ;
}

#accroche > h3 {
    font-size : 2em ;
    margin-bottom : 0.4em ;
}

#accroche > p {font-size : 0.8em ;}

